/vendor/bin/
/vendor/pkg/
/vendor/src/
doc
.idea
volcengine-cli
/ve
/ve.exe
/bin/ve
/bin/ve.exe
/npm/checksum
/node_modules

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.project
.classpath
.sts4-cache/
.history/
.settings

# Temporary files & Caches
.tmp/
.cache/
*.cache
.php_cs.cache
.swp

# Local environment variables
.env
.env.*
!.env.example
!.env.template

# Log files
*.log
logs/
nohup.out
npm-debug.log*
yarn-debug.log*
pytestdebug.log

# Package Files
*.jar
*.war
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.bz2
*.xz
*.tgz

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.python-version

# Go
*.o
*.a
*.so
*.exe
*.exe~

## Profiling data
*.prof
